h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#componentes td, #componentes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#componentes tr:nth-child(even){background-color: #f2f2f2;}

#componentes tr:hover {background-color: #ddd;}

#componentes th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}